# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Bb]uild[Ll]og.*

# Visual Studio cache/options directory
.vs/

# Cake
tools/
artifacts/
!tools/packages.config

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
*.dll
*.exe
*.pdb
*.cache

# Test results
TestResults/
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.scc

# Click-Once directory
publish/

# Publish Web Output
*.Publish.xml

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc
.pytest_cache/

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# Virtual Environments
.venv/
env/
venv/
ENV/

# Logs and databases
db.sqlite3
.tox/

## Node.js
# Dependencies
node_modules/
jspm_packages/
web_modules/

# Logs and databases
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nyc_output

# Environment files (excluding .example)
.env
.env.test

# Build and coverage output
coverage/
.next/
.cache/
.home

test-out/
